<head>
    <!DocType html>
    <html>
    <head>
        <title></title>
    </head>
    <body>

        <h1>all categories</h1>
        <a href="/categories/create">create</a>
        <ul>
            @foreach (var category in @Model)
            {

                <li> @category.Name 
                    
                <a href="/Categories/Details/@category.Id" class="btn btn-outline-primary"> Details </a>
                <a href="/Categories/Delete/@category.Id" class="btn btn-outline-danger"> Delete </a>
                <a href="/Categories/Update/@category.Id" class="btn btn-outline-success"> Update </a>
                </li>
                
            }
        </ul>

    </body>
</html>
</head> 